body {
  background-color: rgba(112, 118, 199, 0.7);
  padding     : 1.5em;
  line-height : 1.5;
}

.bodyPanel{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

@media only screen and (max-width: 1000px) {
	body {
	   margin: 0;
	   padding: 0;
	}
	.bodyPanel {
	   width: 90%;
	}
 }

@media only screen and (max-width: 700px) {
	body {
	   margin: 0;
	   padding: 0;
	}
	.bodyPanel {
	   width: 98%;
	}
 }

.header{
  color: rgb(112, 118, 199, 0.7);
  text-align: center;
  margin-bottom: 20px;
  background-image: url("https://t3.ftcdn.net/jpg/02/27/91/16/360_F_227911658_qUp3dMZlR6W8iBe0Y00GZLBB6VLgb1WH.jpg");
  background-color: rgba(230, 243, 108, 0.7);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

table {
  width: 100%;
  table-layout: fixed;
}

input {
	border-bottom: 6px solid yellow;
	background-color: white;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
}

select {
	border-bottom: 6px solid yellow;
	background-color: white;
	width: 80%;
	margin-bottom: 10px;
}

button {
	border-bottom: 6px solid yellow;
	background-color: white;
	width: 80%;
	margin-bottom: 5px;
}

textarea {
	border-bottom: 3px;
	float: left;
	height: 100%;
	width: 65%;
	color: black;
	resize: none;
}

.fight-panel{
	width: 100%;
}

.img-right {
	float: right;
	border-bottom: 3px;
	height: 125px;
	width: 33%;
}

.img-left {
	float: left;
	border-bottom: 3px;
	height: 125px;
	width: 33%;
}

.img-centre {
	border-bottom: 3px;
	height: 30%;
	width: 100%;
}

.hp-right {
	background-color: red;
	float: right;
	height: 20px;
	width: 60%;	
	margin-top: 5%;
	margin-right: 20%;
}

.hp-left {
	background-color: red;
	float: left;
	height: 20px;
	width: 60%;
	margin-top: 5%;
	margin-left: 10%;	
}

.firewall-left {
	background-color: green;
	float: left;
	height: 20px;
	width: 60%;
	margin-left: 10%;	
}

.labelHp-right {
	float: right;
	height: 20px;
	margin-top: 5%;
	margin-right: 2%;
}

.labelHp-left {
	float: left;
	height: 20px;
	margin-top: 5%;
	margin-left: 2%;
}

.labelFw-left {
	float: left;
	height: 20px;
	margin-top: 5%;
	margin-left: 2%;
}

.label-right{
	float: right;	
	margin-right: 20%;
}

.label-left{
	float: left;
	margin-left: 10%;	
}

.tabbed{
	float : left;
	width : 100%;
  }
  
  .tabbed > input{
	display : none;
  }
  
  .tabbed > section > h1{
	float       : left;
	box-sizing  : border-box;
	margin      : 0;
	padding     : 0.5em 0.5em 0;
	overflow    : hidden;
	font-size   : 1em;
	font-weight : normal;
  }
  
  .tabbed > input:first-child + section > h1{
	padding-left : 1em;
  }
  
  .tabbed > section > h1 > label{
	display                 : block;
	padding                 : 0.25em 0.75em;
	border                  : 1px solid #ddd;
	border-bottom           : none;
	border-top-left-radius  : 4px;
	border-top-right-radius : 4px;
	box-shadow              : 0 0 0.5em rgba(0,0,0,0.0625);
	background              :rgb(112, 118, 199, 0.7);
	cursor                  : pointer;
	   -moz-user-select     : none;
		-ms-user-select     : none;
	-webkit-user-select     : none;
  }
  
  .tabbed > section > div{
	position      : relative;
	z-index       : 1;
	float         : right;
	box-sizing    : border-box;
	width         : 100%;
	margin        : 2.5em 0 0 -100%;
	padding       : 0.5em 0.75em;
	border        : 1px solid #ddd;
	border-radius : 4px;
	box-shadow    : 0 0 0.5em rgba(0,0,0,0.0625);
	background    : rgb(112, 118, 199, 0.7);
  }
  
  .tabbed > input:checked + section > h1{
	position : relative;
	z-index  : 2;
  }
  
  .tabbed > input:not(:checked) + section > div{
	display : none;
  }
  