body {
  background-color: rgba(112, 118, 199, 0.7);
  line-height : 2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

@media only screen and (max-width: 1000px) {
	body {
	   margin: 0;
	   padding: 0;
	   width: 100%;
	   font-size: 300%;
	}
 }

h1 {
	background-image: url("/assets/title.png");
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header_big {
	flex-grow: 2;
}

.footer {
	flex-grow: 1;
}

.body_medium {
	flex-grow: 4;
	background-color: white;
	border: medium solid orange;
	display: flex;
	flex-direction: column;
}

.body_medium2 {
	flex-grow: 4;
	background-color: white;
	border: medium solid orange;
	display: flex;
	flex-direction: row;
}

.body_small {
	flex-grow: 1;
	background-color: white;
	border: medium solid orange;
}

.body_item {
	flex-grow: 1;
	padding-top: 5%;
	padding-left: 15%;
	text-align: left;
}

.body_item2 {
	flex-grow: 1;
	text-align: left;
}

input {
	border-bottom: 6px solid rgba(112, 118, 199, 0.7);;
	background-color: white;
	font-family: 'Times New Roman', serif;
	font-size: 200%;
	width: 80%;
}

button {
	border-bottom: 6px solid rgba(112, 118, 199, 0.7);;
	background-color: white;
	font-family: 'Times New Roman', serif;
	font-size: 200%;
	width: 80%;
}

select {
	border-bottom: 6px solid rgba(112, 118, 199, 0.7);;
	background-color: white;
	font-family: 'Times New Roman', serif;
	font-size: 200%;
	width: 80%;
}

.char_icon {
	width:150px;
	height:220px;
}

.fight_img {
	width:380px;
	height:185px;
}

.text_area {
	font-size:110%;
	resize: none;
}

.text {
	font-size:175%;
	padding-left:10px;
}

.stat_bar {
	height:20px;
}

.action_button {
	font-size:150%
}

@media only screen and (max-width: 1000px) {
	.char_icon {
		width:320px;
		height:500px;
	}

	.fight_img {
		width:900px;
		height:500px;
	}

	.text_area {
		font-size:100%;
	}

	.text{
		font-size:100%;
		padding-left:20px;
	}

	.stat_bar {
		height:30px;
	}

	.action_button {
		font-size:120%
	}
 }